{% extends "base/main.html" %}
{% block content %}
<a href="{% url 'tasks' %}"><button class="btn btn-info text-white mt-4 ml-3 p-2"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="whitesmoke" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
  <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
</svg></button></a>
<div class="p-5">
    
<h3 class="font-h pb-3">Task Form</h3>

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input  class="btn btn-success" type="submit" value="Submit">

</form>
</div>
{% endblock content %}
